{% extends 'base.html.twig' %}

{% block title %}New Account{% endblock %}

{% block content %}
    <h1>Create New Account</h1>

    {{ include('account/_form.html.twig') }}

    <a href="{{ path('app_account_index') }}">Back to list</a>
{% endblock %}
