{% extends 'base.html.twig' %}

{% block title %}Modifier le Commentaire{% endblock %}

{% block body %}
<div class="container">
    <h3 class="mt-4">Modifier le commentaire</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success mt-2">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('post_show', {'id': commentaire.post.id}) }}" class="btn btn-secondary mt-2">Annuler</a>
</div>
{% endblock %}